@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
      /* background:pink;  */
      background-color: #141414;

}

.header__container{
     background:#141414;
    display: flex;


}
.header__container img{

/* background: pink; */
display: flex;
align-items: end;



}

.div__menu{
   /* background:pink;*/
    padding: 10px;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 141px;
    margin-left: 20%;
    margin-right: 30%;

    /*display: flex;*/
}

.div__menu span{

   /* background: salmon;*/
    font-size: 24px;
    letter-spacing: normal;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 20px;
    width: 119px;
    height: 28;
    margin: 3%;
    color: aliceblue;


}

.div__agua{
    /* background:sienna; */
    width: 20%;
    padding: 20px;
    padding-right: 10px;
    padding-left: 20px;
}

.div__agua h2{
   /* background:green;*/
    font-size: 48px;
    display: flex;
    border-radius: 48px;
    height: 46%;
    width: 112%;

    
   background: beige;

}

.div__agua img{
    width: 15%;
}

.div__icons{
    background: gray;

}




/**************************************main**************/


main{

     background:#141414; 
    margin: 5%;
    margin-top: 5%;
    margin-block-start: 0%;
    margin-left: 1%;
    margin-right: 5%;


}

.div__espan {
    /* background: lightcoral; */
    color: aliceblue;
    font-size: 56.4px;
    margin: 20px;
    width: 685px;
    height: 91px;
    margin-bottom: 10%;
    margin-left: 10%;
}
.div__espan p{
    /* background: green; */
    font-size: 26px;
    margin: 0px;
}


.div__titulo{
    /* background: darkcyan; */
     /* background: khaki; 
    margin: 10%;
    /* margin-top: 30%%; */
    margin-right: 20px;
    gap: 10px;
    margin-left: 0px;
    width: 707px;
    height: 391px;
    display: flex;
}

.div__titulo img{

    /* background: tomato; */
    margin: auto;
    margin-left: 20%;
}

.intrucciones{

    background-color: aqua;

}

.intruciones h2{
    background: khaki;
    font-size: 64px;
    width: 363px;
    height: 71px;

}

.div__orden{

    background: khaki;
    font-size: 20px;
    margin: 26%;

}

.div__orden h2{
    background: green;
    width: 363px;
    height:71px ;

}

.div__orden p{

    background: skyblue;
    width: 654px;
    height: 146px;

}